$gold: #B6A133;

$primary: $gold;

@import "./bootstrap";
@import "./menu-decorate";

$secondary: $gray-800;

h1,
.h1 {
    text-align: center;
    margin: 6rem auto;
}

// nav
.nav-contact-btn {
    border-radius: 50px;

    @include media-breakpoint-down(md) {
        margin: 12px 60px 8px 0px;
    }
}


// top
.firstview {
    background-image: linear-gradient(rgba(27, 26, 26, 0.76), rgba(133, 132, 132, 0.65)), url(../images/hero-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#top-message {
    background-image: url(../images/top-message.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    width: 80%;
    margin: 2rem auto;

    @include media-breakpoint-down(sm) {
        height: 120px;
        background-size: 100%;
        maigin: 2rem 0;
    }
}

.top-introduction {
    margin: 2rem auto;
    width: 80%;

    p {
        margin-bottom: 0rem;

        @include media-breakpoint-down(sm) {
            font-size: 14px;
            width: 100%;
            margin: auto;
        }
    }
}

.top-contact-button {
    background: linear-gradient(267.79deg, #CFB00C, #B6A133);
    border-radius: 12px;
    margin: 70px auto 0;

    width: 320px;

    @include media-breakpoint-down(sm) {
        height: 70px;
        margin: 0 auto;
    }

    span {
        color: #fff;
        font-size: 30px;
        padding: 1rem 2rem;
        line-height: 80px;

        @include media-breakpoint-down(sm) {
            line-height: 60px;
        }
    }

}

.top-contact-button:hover {
    transform: translateY(-5px);
    transition: .2s;
    box-shadow: 5px 7px 18px rgba(0, 0, 0, 0.6);
}

#top {
    .contact-btn-area {
        @include media-breakpoint-down(sm) {
            height: 100px;
        }
    }
}

.top-sample01 {
    position: absolute;
    top: 15%;
    right: 38%;

    @include media-breakpoint-down(sm) {
        height: 180px;
        width: auto;
        top: 0%;
        right: 42%;
    }
}

.top-sample02 {
    position: absolute;
    top: 36%;
    right: 10%;
    height: 270px;

    @include media-breakpoint-down(sm) {
        height: 180px;
        width: auto;
        top: 35%;
        right: -45%;
        position: relative;
    }
}

.top-sample03 {
    position: absolute;
    top: 73%;
    right: 29%;
    height: 250px;

    @include media-breakpoint-down(sm) {
        height: 180px;
        width: auto;
        top: 92%;
        right: 38%;
    }
}

// main contents

// problem
#problem {
    height: 1000px;
    background: rgba(224, 219, 172, 0.7);
}

.problem-img {
    background: url(../images/problem-lg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 700px;
    position: relative;
    padding: -50px;
}

@include media-breakpoint-down(md) {
    .problem-img {
        background: url(../images/problem-md.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 700px;
    }
}

@include media-breakpoint-down(sm) {
    .problem-img {
        background: url(../images/problem-sm.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 700px;
    }
}



// .customers-img {
//     text-align: center;
//     margin-top: 200px;

//     @include media-breakpoint-down(sm) {
//         margin-top: 400px;
//     }
// }

// .nayami-l {
//     height: 110px;
//     width: 150px;
//     background: url(../images/fukidashi-left.png);
//     background-size: contain;
//     background-repeat: no-repeat;
//     position: absolute;
// }

// .nayami-r {
//     height: 110px;
//     width: 150px;
//     background: url(../images/fukidashi-right.png);
//     background-size: contain;
//     background-repeat: no-repeat;
//     position: absolute;
// }

// .nayami-01 {
//     left: 4%;
//     top: 16%;

//     @include media-breakpoint-down(md) {
//         left: 4%;
//         top: 26%;
//     }

//     @include media-breakpoint-down(sm) {
//         right: 2%;
//         top: 62%;
//     }
// }

// .nayami-02 {
//     left: 212px;
//     top: 150px;

//     @include media-breakpoint-down(md) {
//         left: 21%;
//         top: 41%;
//     }

//     @include media-breakpoint-down(sm) {
//         right: 2%;
//         top: 62%;
//     }
// }

// .nayami-03 {
//     left: 46px;
//     top: 273px;

//     @include media-breakpoint-down(md) {
//         left: 1%;
//         top: 54%;
//     }

//     @include media-breakpoint-down(sm) {
//         right: 2%;
//         top: 62%;
//     }
// }


// .nayami-04 {
//     left: 207px;
//     top: 366px;

//     @include media-breakpoint-down(md) {
//         left: 4%;
//         top: 75%;
//     }

//     @include media-breakpoint-down(sm) {
//         right: 2%;
//         top: 62%;
//     }
// }


// .nayami-05 {
//     right: 25px;
//     top: 106px;

//     @include media-breakpoint-down(md) {
//         right: 8%;
//         top: 26%;
//     }

//     @include media-breakpoint-down(sm) {
//         right: 2%;
//         top: 62%;
//     }
// }


// .nayami-06 {
//     right: 212px;
//     top: 128px;

//     @include media-breakpoint-down(md) {
//         right: 27%;
//         top: 37%;
//     }

//     @include media-breakpoint-down(sm) {
//         right: 2%;
//         top: 62%;
//     }
// }


// .nayami-07 {
//     right: 115px;
//     top: 229px;

//     @include media-breakpoint-down(md) {
//         right: 1%;
//         top: 43%;
//     }

//     @include media-breakpoint-down(sm) {
//         right: 2%;
//         top: 62%;
//     }
// }


// .nayami-08 {
//     right: 20px;
//     top: 314px;

//     @include media-breakpoint-down(md) {
//         right: 2%;
//         top: 62%;
//     }

//     @include media-breakpoint-down(sm) {
//         right: 2%;
//         top: 62%;
//     }
// }


// .nayami-09 {
//     right: 194px;
//     top: 368px;

//     @include media-breakpoint-down(md) {
//         right: 0%;
//         top: 81%;
//     }

//     @include media-breakpoint-down(sm) {
//         right: 2%;
//         top: 62%;
//     }
// }



// feature
$feature-circle-size: 240px;

.feature-circle {
    font-size: 50px;
    width: $feature-circle-size;
    height: $feature-circle-size;
    border-radius: 50%;
    background: linear-gradient(to bottom left, #CFBB54, #E7D578);
    text-align: center;
    line-height: $feature-circle-size;
    margin: auto;
}

.feature-text {
    margin: 4rem 2rem;
}

// plan
#plan {
    .card {
        border: 1px solid rgba(0, 0, 0, 0);
    }

    .card:hover {
        border: 2px solid rgba(150, 127, 8, 0.8);
    }
}

.plan-card-title {
    margin: 2rem 1rem 1rem;
}

.plan-card-img {
    margin-bottom: 1rem;
}

.card-text-wrapper {
    margin: auto;
}

.check-default {
    color: $gray-600;
}

.plan-price {
    font-size: $font-size-lg;
    margin: 1rem;
}

.select-plan {
    color: $white;
    background: linear-gradient(to top right, rgb(150, 127, 8), rgb(207, 176, 12));
    margin: 1rem auto 2rem;
}
.select-plan:hover{
    color: $white;
    transform: scale(1.5);
}


.plan-btn-area {
    height: 200px;
    text-align: center;
}

.plan-btn {
    margin: 60px auto 40px;
    border-radius: 50px;
}

// flow
.flow-triangle {
    height: 80px;
    background-image: url(../images/flow-triangle.png);
    background-position: center;
    background-repeat: no-repeat;
}

.flow-text-wrapper {
    margin: 1rem auto;

    .h4 {
        margin-bottom: 1rem;
    }
}

// faq
.faq-wrapper {
    box-shadow: 1px 1px 4px $gray-500;
}

.a-conclusion {
    display: block;
}

.faq-sample-area {
    padding: 2rem 1rem;

    p {
        margin: 1rem 2rem;
    }
}

.faq-sample-wrapper {
    margin: 2rem 1rem;
}

.faq-btn-area {
    background: rgba(224, 219, 172, 1.0);
    padding: 10rem 1rem;

    p {
        margin: 1rem;
        font-size: 90%;
    }
}

.faq-btn-wrapper {
    text-align: center;
    margin: 2rem 1rem;
}

.faq-btn {
    background-size: 56px 200px;
    background: $white;
    background-position: center;
    border-radius: 50px;
    width: 80%;
    padding: 1rem 3rem;

    @include media-breakpoint-down(md) {
        padding: 1rem;
    }

    a {
        color: rgb(150, 127, 8);
    }
}

.faq-btn:hover {
    transform: translateY(-5px);
    transition: .2s;
    box-shadow: 5px 7px 18px rgba(138, 132, 77, 0.6);
}

// case
.case-btn-area {
    height: 200px;
    text-align: center;
}

.case-btn {
    margin: 60px auto 40px;
    border-radius: 50px;
    width: 200px;

    a {
        color: $secondary;
    }

    a:hover {
        color: $white;
    }
}

.case-blog-link {
    display: block;
}

.case-blog {
    text-align: center;
}

.blog-btn {
    margin: 60px auto 40px;
    border-radius: 50px;
}

// contact
.contact-btn-area {
    height: 200px;
    text-align: center;
}

.contact-btn {
    background-size: 80px 320px;
    background: linear-gradient(267.79deg, #CFB00C, #B6A133);
    border-radius: 50px;
    margin: auto;

    span {
        color: #fff;
        font-size: 24px;
        padding: 1rem 2rem;
    }


}

.contact-btn:hover {
    transform: translateY(-5px);
    transition: .2s;
    box-shadow: 5px 7px 12px $gray-500;
}


// footer
footer {
    background-color: $secondary;
}

.share-btns {
    list-style: none;
    padding-left: 0;

    li {
        display: inline;
    }

    a {
        transition: all 0.3s;
    }

    a:hover img{
        transform: scale(1.3) translateY(-3px);
    }

    img {
        margin: 1rem;
    }
}

.footer-site-map {
    list-style-type: none;

    a {
        color: $white;
    }
}

.share-area {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.footer-blog-link {
    margin-bottom: 1rem;
    color: $gray-900;

    p {
        margin-bottom: 0;
        line-height: 20px;
        font-size: 20px;
        color: $gray-900;
    }
}

.footer-blog-link:hover {
    p {
        color: $primary;
    }
}

.copyright-bar {
    margin-top: 3rem;
    padding: 1rem;
}